.hour-buttons {
  margin: 1rem;
  text-align: center;
}

.btn {
  background-color: var(--trinary);
}

.hour-info {
  padding: 2rem;
  text-align: center;
}

#hourHeader {
  color: var(--trinary);
}

@media screen and (max-width: 600px) {
  .btn {
    font-size: 0.7rem;
  }
}
