.home-body {
  text-align: center;
  padding: 3rem;
  z-index: -2;
}
.home-body h2 {
  color: var(--trinary);
}

.home-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15rem;
}

.home-header {
  font-family: 'Mountains of Christmas', cursive;
  font-size: 5rem;
  font-weight: 700;
}

.banner-image {
  width: 20rem;
  position: absolute;
  /* left: 30%; */
  z-index: -1;
}

.p-text {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: var(--primary);
  /* border: 5px dotted var(--trinary); */
  border-radius: 40px;
  padding: 4rem;
  color: aliceblue;
  font-size: 1.2rem;
}

.shoutout {
  color: var(--trinary);
  font-size: 1.5rem;
  font-weight: 600;
}

@media screen and (max-width: 600px) {
  .home-header {
    font-size: 4rem;
  }

  .p-text {
    border-radius: 40px;
    padding: 0.8rem;
  }

  .home-body {
    padding: 1.3rem;
  }

  .home-banner {
    margin-bottom: 4rem;
  }
}
