h5 {
  text-align: center;
  color: var(--primary);
  font-family: 'Mountains of Christmas', cursive;
  font-weight: 700;
  font-size: 2rem;
  color: var(--trinary);
}

.sponsor-links {
  display: flex;
  justify-content: space-around;
  margin-bottom: 2rem;
}

.sponsor-links a {
  text-decoration: none;
  color: var(--trinary);
}
